%button-base {
  background-color: var(--color-form-button-background-border);
  border: solid 2px var(--color-form-button-background-border);
  border-radius: 5px;
  color: var(--color-form-button-text);
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1.69px;
  padding: 12px 24px;
  text-transform: uppercase;
  transition: all 200ms ease;

  &:visited {
    border-color: var(--color-form-button-background-border);
    color: var(--color-form-button-text);
  }

  &:hover {
    background: transparent !important;
    color: var(--color-form-button-background-border);
    text-decoration: none;
  }

  &:focus {
    outline: none;
  }
}

%default-field {
  background-color: var(--color-form-input-background);
  border: 2px solid var(--color-form-input-border);
  border-radius: 6px !important;
  height: 48px;
  width: 100%;
  padding: 8px;

  &:focus,
  &:active {
    border-color: var(--color-form-input-border-active);
    box-shadow: none !important;
    outline: none;
  }

  &::placeholder {
    color: var(--color-form-placeholder);
  }
}

.gform_wrapper form,
.at .at-form,
form {
  label,
  label.gfield_label,
  ul.gfield_checkbox li label,
  ul.gfield_radio li label {
    font-size: 16px;
    font-weight: normal;

    &,
    small {
      color: var(--color-form-text-label);
    }
  }

  input[type='text'],
  .at-text input[type='text'],
  input[type='search'],
  input[type='email'],
  .at-text input[type='email'],
  input[type='tel'],
  .at-text input[type='tel'],
  textarea {
    @extend %default-field;
    -webkit-appearance: none;
    appearance: none;
  }

  select,
  .at-select .select2-selection {
    @extend %default-field;
  }

  .intl-phone-MobilePhone,
  .intl-phone-HomePhone {
    padding-left: 52px !important;
  }

  select {
    cursor: pointer;
  }

  input[type='checkbox'],
  input[type='radio'],
  ul.gfield_radio li input[type='radio'],
  ul.gfield_checkbox li input[type='checkbox'] {
    appearance: none;
    -webkit-appearance: none;
    background-color: var(--color-form-input-background);
    border: 2px solid var(--color-form-text-label);
    cursor: pointer;
    display: inline-block;
    height: 20px;
    margin-left: 0 !important;
    margin-right: 10px;
    margin-top: 0 !important;
    position: relative;
    top: 4px;
    vertical-align: baseline !important;
    width: 20px !important;

    + label {
      cursor: pointer;
      display: inline;
      user-select: none;
    }

    &:checked {
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }

    &:focus {
      outline: none;
    }
  }

  input[type='search'] {
    background-image: url("data:image/svg+xml;utf8,<svg fill='%238f8e89' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path d='M21.7 20.3l-4.5-4.5c1.1-1.4 1.8-3.3 1.8-5.3 0-4.7-3.8-8.5-8.5-8.5s-8.5 3.8-8.5 8.5c0 4.7 3.8 8.5 8.5 8.5 2 0 3.8-0.7 5.3-1.8l4.5 4.5c0.2 0.2 0.5 0.3 0.7 0.3s0.5-0.1 0.7-0.3c0.4-0.4 0.4-1 0-1.4zM4 10.5c0-3.6 2.9-6.5 6.5-6.5s6.5 2.9 6.5 6.5c0 1.8-0.7 3.4-1.9 4.6 0 0 0 0 0 0s0 0 0 0c-1.2 1.2-2.8 1.9-4.6 1.9-3.6 0-6.5-2.9-6.5-6.5z'></path></svg>");
    background-position: .5em  center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    padding-left: 2.5em !important;
  }

  input[type='radio'] {
    border-radius: 50%;

    &:checked {
      border-color: #0597ff !important;
      background-image: url("data:image/svg+xml;utf8,<svg fill='%23ffffff' style='background-color: %230597ff' version='1.1' xmlns='http://www.w3.org/2000/svg' height='20' width='20'><circle cx='10' cy='10' r='5' /></svg>");
    }
  }

  input[type='checkbox'] {
    border-radius: 3px;

    &:checked {
      border-color: #0597ff !important;
      background-image: url("data:image/svg+xml;utf8,<svg fill='%23ffffff' style='background-color: %230597ff' version='1.1' xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'><path d='M8.294 16.998c-0.435 0-0.847-0.203-1.111-0.553l-3.573-4.721c-0.465-0.613-0.344-1.486 0.27-1.951 0.615-0.467 1.488-0.344 1.953 0.27l2.351 3.104 5.911-9.492c0.407-0.652 1.267-0.852 1.921-0.445s0.854 1.266 0.446 1.92l-6.984 11.21c-0.242 0.391-0.661 0.635-1.12 0.656-0.022 0.002-0.042 0.002-0.064 0.002z'></path></svg>");
    }
  }

  input[type=submit],
  button[type=submit],
  .gform_next_button,
  .btn-at-primary {
    &:not([hidden]) {
      @extend %button-base;
      -webkit-appearance: none;
      appearance: none;
      white-space: normal;

      @media only screen and (max-width: 641px) {
        /* Overwriting gravity forms line-height */
        line-height: inherit !important;
      }
    }
  }

  /* Error state */
  .gfield_error,
  .has-error,
  .at-text.error,
  .at-select.error {
    input[type='text'],
    input[type='search'],
    input[type='email'],
    input[type='tel'],
    textarea,
    select {
      background-color: var(--color-form-error-background);
      border: 2px solid var(--color-form-error-border) !important;
    }

    .gfield_label,
    .validation_message,
    small.error,
    div.validation_error {
      color: var(--form-error-text);
      margin-bottom: 0;
    }

    small.error {
      padding: 0;
    }
  }

  label.error {
    color: var(--color-form-text-label);

    input::placeholder {
      color: var(--color-form-text-label) !important;
    }
  }

  div.validation_error {
    border-color: var(--form-error-text);
    color: var(--form-error-text);
  }
}

.salesforce-form {
  @extend %button-base;
}

/* Everyaction Specifics */
.at .at-form {
  .at-form-submit {
    padding-bottom: 0;
    padding-top: 0;

    input {
      margin-bottom: 0;
      margin-top: 0;
    }
  }

  .at-select .select2-selection {
    display: flex;
    align-items: center;

    &.select2-selection--single > span {
      margin-top: 0;
    }
  }

  .at-text[class*='Phone'] {
    margin-bottom: 1rem;
  }

  .at-check,
  .updateMyProfileSection {
    input[type="checkbox"] {
      position: absolute;

      + span::before {
        height: 20px;
        background-color: var(--color-form-input-background) !important;
        border: 2px solid var(--color-form-text-label) !important;
        box-shadow: none !important;
        width: 20px;
        top: 2px;
      }

      + span::after {
        background-image: url("data:image/svg+xml;utf8,<svg fill='%23ffffff' style='background-color: %230597ff' version='1.1' xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'><path d='M8.294 16.998c-0.435 0-0.847-0.203-1.111-0.553l-3.573-4.721c-0.465-0.613-0.344-1.486 0.27-1.951 0.615-0.467 1.488-0.344 1.953 0.27l2.351 3.104 5.911-9.492c0.407-0.652 1.267-0.852 1.921-0.445s0.854 1.266 0.446 1.92l-6.984 11.21c-0.242 0.391-0.661 0.635-1.12 0.656-0.022 0.002-0.042 0.002-0.064 0.002z'></path></svg>");
        content: '';
        background-size: contain;
        border: 2px solid var(--color-form-check) !important;
        width: 20px;
        height: 20px;
        border-radius: 3px;
        top: 2px;
        left: 0;
      }
    }
  }

  .radios {
    input[type="radio"] {
      margin-bottom: 0;
      appearance: none !important;
    }
  }

  .at-row.SmsLegalDisclaimer p {
    margin-top: 8px;
    line-height: 1.3;
    font-size: .8rem;
    color: var(--color-form-text-label);
  }
}

/* Gravity Forms Specifics */
.gform_wrapper form {
  .gfield_radio li,
  .gfield_checkbox li {
    label {
      margin: 0;
    }

    input[type='radio']:checked+label,
    input[type='checkbox']:checked+label {
      font-weight: normal !important;
    }
  }

  .gfield .gfield_required {
    color: var(--form-error-text);
  }

  li.gfield.gfield_error,
  li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
    background-color: transparent;
    border-bottom: 0;
    border-top: 0;
    margin-bottom: 0;
  }

  .field_description_below .gfield_description {
    padding-top: 0;
  }

  .gfield.zip-country-only {
    .ginput_left.address_country {
      margin-left: 16px;
      padding-right: 10px !important;
    }
  }

  .gform_confirmation_wrapper {
    margin-top: 16px;
  }

  .gsection_title {
    color: var(--color-form-text-label);
    font-family: inherit;
    line-height: 1.25;
  }

  @media only screen and (min-width: 641px) {
    .ginput_container.ginput_container_address.has_zip.has_country:not(.has_street):not(.has_street2):not(.has_city):not(.has_state) {
      .address_zip {
        margin-right: 8px;
      }
    }
  }
}

/* Form on dark background */
.form--light form {
  label {
    color: var(--color-form-input-background);
  }
}

.form--light .gform_wrapper form {
  label.gfield_label,
  ul.gfield_checkbox li label,
  ul.gfield_radio li label {
    color: var(--color-form-input-background);
  }
}

.form--light .at .at-form {
  form {
    label,
    p,
    span,
    a,
    i,
    b,
    .at-checkbox-title,
    .at-row.SmsLegalDisclaimer p {
      &,
      small {
        color: var(--color-form-input-background);
      }
    }
  }

  .content.thankYou p {
    color: var(--color-form-input-background);
  }
}
